<%= render 'shared/banner', header: 'General' %>
<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">
    <% @comments.each do |c|%>
      <div class="card-comment">
        <div class="card-comment-infos">
          <div class="card-comment-infos-content">
            <div class="card-comment-infos-content-details">
              <%= image_tag "group.svg", alt: "Demonstration" %>
              <p>
              created<br>
              <strong><%= c.created_at.strftime("%I:%M%p") %></strong>
              </p>
            </div>
            <div class="card-comment-infos-content-description">
              <%= c.content %>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </div>
          </div>
          <div class="card-comment-info-votes">
            <%= simple_form_for([@demo, c], remote: true) do |form| %>
      <%= form.input :vote, :as => :hidden, :input_html => { :value => 'up' } %>
    <%= form.button :button do %>
            <i class="fas fa-chevron-up"></i>
      <% end %>
    <% end %>

            <%= render 'shared/votes', c: c %>

    <%= simple_form_for([@demo, c], remote: true) do |form| %>
      <%= form.input :vote, :as => :hidden, :input_html => { :value => 'down' } %>
      <%= form.button :button do %>
            <i class="fas fa-chevron-down"></i>
      <% end %>
    <% end %>
          </div>
        </div>

        <div class="card-comment-footer">
          <p>
            <i class="fas fa-map-marker-alt"></i> <%= c.commentable.name %>
          </p>

          <p>last voted: <strong><%= c.created_at.strftime("%I:%M%p") %></strong></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%#=# render 'shared/votes', c: c unless c.weighted_score < 0 %>
