
<div class="tab-box">
  <%= render 'shared/banner', header: 'Chatter' %>
  <div id="navigation">
    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-newest-tab" data-toggle="pill" href="#pills-newest" role="tab" aria-controls="pills-newest" aria-selected="true">Newest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-loudest-tab" data-toggle="pill" href="#pills-loudest" role="tab" aria-controls="pills-loudest" aria-selected="false">Loudest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-twitter-tab" data-toggle="pill" href="#pills-twitter" role="tab" aria-controls="pills-twitter" aria-selected="false">Twitter <i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">

<!-- 1st Tab -->

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-newest" role="tabpanel" aria-labelledby="pills-newest-tab">
          <%= render partial:'comments_tab', locals: {comments: @comments}%>
        </div>

<!-- 2nd Tab -->

      <div class="tab-pane fade" id="pills-loudest" role="tabpanel" aria-labelledby="pills-loudest-tab">
        <%= render partial:'comments_tab', locals: {comments: @votes_comments}%>
      </div>


<!-- 3rd Tab -->
      <div class="tab-pane fade" id="pills-twitter" role="tabpanel" aria-labelledby="pills-twitter-tab">
        <p>Feed: <%= @demo.d_hashtag %></p>
        <% TwitterApi.demo_hashtag.each do |tweet| %>
        <div class="card-comment">
          <div class="card-comment-header">
            <div class="card-comment-header-description">
               <%= image_tag "#{tweet.user.profile_image_url_https}" %>
                  <p><%= tweet.user.name %></p>
                  <p>@<%= tweet.user.screen_name %></p>
                  <p>
                  RT: <strong><%= tweet.retweet_count %></strong>
                  </p>
            </div>
            <div class="card-comment-header-time">
              <p>posted <%= time_ago_in_words(tweet.created_at) %> ago</p>
            </div>
          </div>

          <div class="card-comment-infos">
            <div class="card-comment-infos-content">
              <div class="card-comment-infos-content-description">
                 <%= tweet.text %>
              </div>
              <div class="card-comment-infos-content-footer">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

<!-- Button Add a comment -->

    <div class="btn-plus">
      <%= link_to new_demo_comment_path(@demo) do %>
        <%= image_tag "plus.svg", size: "25x25", alt: "add" %>
      <% end %>
    </div>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>
