<% @comments.each do |c|%>
  <div class="card-comment">
    <div class="card-comment-infos">
      <div class="card-comment-infos-content">
        <div class="card-comment-infos-content-details">
          <%= image_tag "group.svg", alt: "Demonstration" %>
          <p>
          created<br>
          <strong><%= c.created_at.strftime("%I:%M%p") %></strong>
          </p>
        </div>
        <div class="card-comment-infos-content-description">
          <%= c.content %>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
      </div>

<div class="card-comment-info-votes">
        <form class="simple_form edit_comment" id="edit_comment_6" novalidate="novalidate" action="/demos/1/comments/6" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="wBpSFCWz4Zp7tAOy41MbHTQ/FRY2G9fmYIaOs2CVTO8nbMq9Wb540amuTHqwx4scLd5G4Vt/Ojz684BM9hjJAg==">
  <div class="form-group hidden comment_vote"><input class="form-control hidden" value="up" type="hidden" name="comment[vote]" id="comment_vote"></div>
<button name="button" type="submit" class="btn">
        <i class="fas fa-chevron-up"></i>
</button></form>
        <%= render 'shared/votes', c: c %>





<form class="simple_form edit_comment" id="edit_comment_6" novalidate="novalidate" action="/demos/1/comments/6" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="wBpSFCWz4Zp7tAOy41MbHTQ/FRY2G9fmYIaOs2CVTO8nbMq9Wb540amuTHqwx4scLd5G4Vt/Ojz684BM9hjJAg==">
  <div class="form-group hidden comment_vote"><input class="form-control hidden" value="down" type="hidden" name="comment[vote]" id="comment_vote"></div>
  <button name="button" type="submit" class="btn">
        <i class="fas fa-chevron-down"></i>
</button></form>      </div>

    </div>
    <div class="card-comment-footer">
      <p>
        <i class="fas fa-map-marker-alt"></i> <%= c.commentable.name %>
      </p>
      <p>last voted: <strong><%= c.created_at.strftime("%I:%M%p") %></strong></p>
    </div>
  </div>
<% end %>

