
<div class="tab-box">
  <%= render 'shared/banner', header: 'Chatter' %>
  <div id="navigation">
    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-newest-tab" data-toggle="pill" href="#pills-newest" role="tab" aria-controls="pills-newest" aria-selected="true">Newest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-loudest-tab" data-toggle="pill" href="#pills-loudest" role="tab" aria-controls="pills-loudest" aria-selected="false">Loudest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-twitter-tab" data-toggle="pill" href="#pills-twitter" role="tab" aria-controls="pills-twitter" aria-selected="false">Twitter<i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">

<!-- 1st Tab -->

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-newest" role="tabpanel" aria-labelledby="pills-newest-tab">

        <% @comments.each do |c|%>
          <div class="card-comment">
            <div class="card-comment-infos">
              <div class="card-comment-infos-content">
                <div class="card-comment-infos-content-details">
                    <p>posted <%= time_ago_in_words(c.created_at) %> ago </p>
                </div>
                <div class="card-comment-infos-content-description">
                  <%= c.content %>
                </div>
                <div class="card-comment-infos-content-footer">

                    <% if c.commentable_type == 'Demo' %>
                      <p><strong>General</strong>
                        <%= c.commentable.name  %> Demo
                      </p>
                    <% else %>
                      <p> <%= image_tag "#{Event.find(c.commentable_id).event_type.icon}", alt: "Demonstration" %>
                        <strong><%= Event.find(c.commentable_id).description.first(20) + "..." %></strong>
                      </p>
                      <p>
                        <i class="fas fa-map-marker-alt"></i>
                        <%= c.commentable.location.gsub(/,.*/,'') %>
                      </p>
                    <% end %>

                </div>
              </div>
              <div class="card-comment-info-votes">
<!--             <button class='btn btn-votes' data-id="<%#= c %>" data-value='up'>
              <i class="fas fa-chevron-up"></i>
            </button>
            <p class="weighted-score" data-id="<%#= i %>"><%#= c.weighted_score %></p>
            <button class='btn btn-votes' data-id="<%#= i %>" data-value='down'>
              <i class="fas fa-chevron-down"></i>
            </button>
 -->
              <%= simple_form_for([@demo, c], remote: true) do |form| %>
                <%= form.input :vote, :as => :hidden, :input_html => { :value => 'up' } %>
                <%= form.button :button, class: 'btn-votes' do %>
                  <i class="fas fa-chevron-up"></i>
                <% end %>
              <% end %>

              <p class="weighted-score" data-id="<%= c.id %>"><%= c.weighted_score %></p>

              <%= simple_form_for([@demo, c], remote: true) do |form| %>
                <%= form.input :vote, :as => :hidden, :input_html => { :value => 'down' } %>
                <%= form.button :button, class: 'btn-votes' do %>
                  <i class="fas fa-chevron-down"></i>
                <% end %>
              <% end %>

              </div>
            </div>


          </div>
        <% end %>
    </div>

<!-- 2nd Tab -->

      <div class="tab-pane fade" id="pills-loudest" role="tabpanel" aria-labelledby="pills-loudest-tab">
        <% @comments.each do |c|%>
          <div class="card-comment">
            <div class="card-comment-infos">
              <div class="card-comment-infos-content">
                <div class="card-comment-infos-content-details">
                  <% if c.commentable_type == 'Demo' %>
                    <%= image_tag "group.svg", alt: "Demonstration" %>
                  <% else %>
                    <%= image_tag "#{Event.find(c.commentable_id).event_type.icon}", alt: "Demonstration" %>
                  <% end %>
                  <p>
                  created<br>
                  <strong><%= c.created_at.strftime("%I:%M%p") %></strong>
                  </p>
                </div>
                <div class="card-comment-infos-content-description">
                  <%= c.content %>
                </div>
              </div>
              <div class="card-comment-info-votes">
<!--             <button class='btn btn-votes' data-id="<%#= c %>" data-value='up'>
              <i class="fas fa-chevron-up"></i>
            </button>
            <p class="weighted-score" data-id="<%#= i %>"><%#= c.weighted_score %></p>
            <button class='btn btn-votes' data-id="<%#= i %>" data-value='down'>
              <i class="fas fa-chevron-down"></i>
            </button>
 -->
              <%= simple_form_for([@demo, c], remote: true) do |form| %>
                <%= form.input :vote, :as => :hidden, :input_html => { :value => 'up' } %>
                <%= form.button :button, class: 'btn-votes' do %>
                  <i class="fas fa-chevron-up"></i>
                <% end %>
              <% end %>

              <p class="weighted-score" data-id="<%= c.id %>"><%= c.weighted_score %></p>

              <%= simple_form_for([@demo, c], remote: true) do |form| %>
                <%= form.input :vote, :as => :hidden, :input_html => { :value => 'down' } %>
                <%= form.button :button, class: 'btn-votes' do %>
                  <i class="fas fa-chevron-down"></i>
                <% end %>
              <% end %>

              </div>
            </div>

            <div class="card-comment-footer">
              <p>
                <i class="fas fa-map-marker-alt"></i>
                <% if c.commentable_type == 'Demo' %>
                  <%= c.commentable.name  %> Demo
                <% else %>
                  <%= c.commentable.location %>
                <% end %>
              </p>

              <p>created at: <strong><%= c.created_at.strftime("%I:%M%p") %></strong></p>
            </div>
          </div>
        <% end %>
      </div>

<!-- 3rd Tab -->
      <div class="tab-pane fade" id="pills-twitter" role="tabpanel" aria-labelledby="pills-twitter-tab">
          <% TwitterApi.organizer_public_tweets.each do |tweet| %>
            <div class="card-comment">
              <div class="card-comment-infos">
                <div class="card-comment-infos-content">
    <!-- Tweet Info Details -->
                  <div class="card-comment-infos-content-details">
                    <%= image_tag "#{tweet.user.profile_image_url_https}" %>
                    <p><%= tweet.user.name %></p>
                    <p>@<%= tweet.user.screen_name %></p>
                    <p>
                    RT: <strong><%= tweet.retweet_count %></strong>
                    </p>
                  </div>
    <!-- END  -->

    <!-- Tweet Content -->
                  <div class="card-comment-infos-content-description">
                    <%= tweet.text %>
                  </div>
    <!--  END -->
                </div>
              </div>

    <!-- Created at -->
              <div class="card-comment-footer">
                <p>created at: <strong> <%= tweet.created_at.strftime("%I:%M%p") %></strong></p>
              </div>

            </div>
          <% end %>
      </div>

<!-- Button Add a comment -->

    <div class="btn-plus">
      <%= link_to new_demo_comment_path(@demo) do %>
        <%= image_tag "plus.svg", size: "25x25", alt: "add" %>
      <% end %>
    </div>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>
