 <div class="card-demo-index-banner", style="background-image: linear-gradient(180deg, rgba(50, 110, 205, 0.5) 0%, rgba(130, 149, 151, 0.5) 59.38%, rgba(255, 234, 169, 0.5) 100%), url('<%= cl_image_path 'show_ur6lts' %>'); background-position: 50% 25%;">
  <div class="btn-arrow-back-white">
    <input type="button" onclick="history.go(-1)">
  </div>


  <div class="card-demo-index-title">
    <div class="card-demo-index-title-content">
        Upcoming Demonstrations
    </div>
  </div>
</div>


<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">
    <!-- <p class="sec-title pb-2 mt-3">There are <%#= @demos.count  %> <b>demos registered</b> in <b>Berlin</b></p> -->
      <% @demos.each do |demo| %>
        <%= link_to demo_path(demo) do %>
          <div class="card-demo">
            <div class="card-demo-infos">
              <div class="card-demo-info-date">
                <div class="card-demo-info-day"><%= demo.start_time.strftime("%d") %></div>
                <div class="card-demo-info-month"><%= demo.start_time.strftime("%b").upcase %></div>
              </div>
              <div class="card-demo-infos-content p-3">
                <div class="card-demo-infos-content-details">
                  <p class="d-time"><%= demo.start_time.strftime("%l:%M %p")  %> <%= demo.start_location.split(',').first %></p>
                  <h2><%= demo.name %></h2>
                  <% if !demo.description.nil?  %>
                  <p> <%= demo.description.first(20) + "..." %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !current_user.nil? && policy(:demo).new? %>
        <div class="btn-plus">
          <%= link_to new_demo_path do %>
            <%= image_tag "plus.svg", size: "25x25", alt: "add" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer_general' %>
