<div class="card-demo-show-banner", style="background-image: linear-gradient(180deg, rgba(50, 110, 205, 0.5) 0%, rgba(130, 149, 151, 0.5) 59.38%, rgba(255, 234, 169, 0.5) 100%), url('<%= cl_image_path 'DemoMap/show_ur6lts' %>'); background-position: 50% 25%;">
  <div class="btn-arrow-back-white">
    <input type="button" onclick="history.go(-1)">
  </div>
</div>

<%= link_to demo_events_path(@demo) do %>
  <div class="card-demo-show-title" >
    <div class="card-demo-show-title-content">
        <%= @demo.name %>
    </div>
  <div class="btn-go">
        <%= image_tag "demo-show-arrow.svg", alt: "Demonstration" %>
  </div>
  </div>
<% end %>

<div class="card-demo-show-container">

  <div class="card-demo-symbols">

      <div class="btn-demo-chatter">
        <%= link_to demo_comments_path(@demo) do %>
          <%= image_tag "chat-demo-show.svg", alt: "Demonstration" %>
        <% end %>
      </div>

      <div class="card-demo-show-smalltext">
        <p>
          <%= @demo.start_time.strftime("%d.%m.%Y") %> <br>
          <%= @demo.start_time.strftime("%H:%M") %> <br>
          <%= @demo.start_location %>
        </p>
      </div>

    </div>

  <h3>Details</h3>

    <div class="block">
      <div class="content">
        <p class="js-excerpt excerpt-hidden"><%= @demo.description %></p>
      </div>
        <a role="button" class="js-read-more" href="#">Read More</a>
    </div>

<!--   <h3><a>Schedule</a></h3>

    <div class="block">
      <div class="content">
        <p class="js-excerpt excerpt-hidden">From 13:00 rally of the residents' initiative for civil courage - Gegen Rechts at the Friedrichstraße/corner Johannisstraße.<br>From 13:30 rally "Refugees Welcome" at the Ella Trebe Street (main station) <br>From 14:00 rally of the Berlin Alliance against Right "No place for Nazis" Unter den Linden/corner Friedrichstraße (on the side Brandenburg Gate). <br> From 14:00 Demonstration of the initiative "Splinter & Naked" at Gendarmenmarkt </p>
      </div>
        <a role="button" class="js-read-more" href="#Schedule">Read More</a>
    </div>

 -->
  <h3>Share</h3>
    <div class="block">
      <div class="content">
        <div class="btn-share">
          <%= social_share_button_tag("Check the #{@demo.name} demo information on DemoMap! ##{@demo.d_hashtag}") %>
          <%#= link_to demo_events_path(@demo) do %>
            <%#= image_tag "demo-show-share.svg", alt: "Demonstration" %>
          <%# end %>
        </div>
      </div>
    </div>


  </div>
  <% if policy(@demo).edit? %>
    <div class="btn-plus">
      <%= link_to edit_demo_path(@demo) do %>
        <i class="far fa-edit"></i>
      <% end %>
    </div>
  <% end %>
  <% if policy(@demo).edit? %>
    <div class="btn-admin">
      <%= link_to demo_admin_path(@demo) do %>
        <i class="fas fa-users-cog"></i>
      <% end %>
    </div>
  <% end %>

</div>
<%= render 'shared/footer' %>
