<div class="card-demo-show-banner", style="background-image: linear-gradient(180deg, rgba(50, 110, 205, 0.5) 0%, rgba(130, 149, 151, 0.5) 59.38%, rgba(255, 234, 169, 0.5) 100%), url('<%= cl_image_path 'banner_demo_y9hias' %>');"></div>

<div class="card-demo-show-title", style="background-image: linear-gradient(0deg, #FFFFFF 27.69%, rgba(255, 255, 255, 0) 76.27%), url('<%= cl_image_path 'map_ykhmve' %>');" >
  <div class="card-demo-show-title-content">
      <%= @demo.name %>
  </div>

  <div class="btn-go">
      <%= link_to demo_events_path(@demo) do %>
        <%= image_tag "go.svg", alt: "Demonstration" %>
      <% end %>
  </div>
</div>

<div class="card-demo-show-container">

  <div class="card-demo-symbols">

      <div class="btn-demo-chatter">
        <%= link_to demo_comments_path(@demo) do %>
          <%= image_tag "chat.svg", size: "25x25", alt: "Demonstration" %>
        <% end %>
      </div>

      <div class="btn-share">
        <%= link_to demo_events_path(@demo) do %>
          <%= image_tag "share_white.svg", alt: "Demonstration" %>
        <% end %>
      </div>

      <div class="card-demo-show-smalltext">
        <p>
          <%= @demo.start_time.strftime("%d.%m.%Y") %> <br>
          <%= @demo.start_time.strftime("%H:%M") %> <br>
          <%= @demo.start_location %>
        </p>
      </div>


    </div>




  <h3>Details</h3>
  <p><%= @demo.description %></p>



    <!--   <h3>Itinerary:</h3>
    <p>TODO => demo.description</p>
    -->
  </div>


  <% if policy(@demo).edit? %>
    <td><%= link_to "Edit", edit_demo_path(@demo) %></td>
  <% end %>

</div>
<%= render 'shared/footer' %>
