<div class="card-demo-show-banner", style="background-image: linear-gradient(180deg, rgba(50, 110, 205, 0.5) 0%, rgba(130, 149, 151, 0.5) 59.38%, rgba(255, 234, 169, 0.5) 100%), url('<%= cl_image_path 'banner_demo_y9hias' %>');"></div>

<div class="card-demo-show-title", style="background-image: linear-gradient(0deg, #FFFFFF 27.69%, rgba(255, 255, 255, 0) 76.27%), url('<%= cl_image_path 'map_ykhmve' %>');" >
  <div class="card-demo-show-title-content">
      <%= @demo.name %>
  </div>

  <div class="btn-go">
      <%= link_to demo_events_path(@demo) do %>
        <%= image_tag "go.svg", alt: "Demonstration" %>
      <% end %>
  </div>
</div>

<div class="card-demo-show-container">

  <div class="card-demo-symbols">

      <div class="btn-demo-chatter">
        <%= link_to demo_comments_path(@demo) do %>
          <%= image_tag "chat.svg", size: "25x25", alt: "Demonstration" %>
        <% end %>
      </div>

      <div class="btn-share">
        <%= link_to demo_events_path(@demo) do %>
          <%= image_tag "share_white.svg", alt: "Demonstration" %>
        <% end %>
      </div>

      <div class="card-demo-show-smalltext">
        <p>
          <%= @demo.start_time.strftime("%d.%m.%Y") %> <br>
          <%= @demo.start_time.strftime("%H:%M") %> <br>
          <%= @demo.start_location %>
        </p>
      </div>


    </div>




  <h3>Details</h3>
  <!-- <p><%= @demo.description %></p> -->

    <article>

  <h2>First article</h2>

  <p class="js-excerpt excerpt-hidden">Lorem ipsum taciti nulla metus libero metus cursus euismod, ac ultricies adipiscing feugiat netus dictum dapibus ipsum lacinia, cubilia potenti odio placerat feugiat est accumsan pulvinar ornare lorem sed turpis fames class, aenean sapien aliquet porta pretium, fames tellus odio quisque primis.</p>

  <a role="button" class="js-show-more" href="#">Read More</a>

  <!-- <div id="more-1" class="fulltext">

    <p>Nisl nulla augue cubilia fusce ligula ut urna fringilla curabitur, habitant hendrerit rhoncus vivamus taciti sociosqu nostra ultricies, libero lobortis rhoncus aenean nullam nibh aliquam dapibus venenatis faucibus aptent habitant ut lacinia litora, iaculis purus ornare lorem quam, metus sociosqu luctus urna class.</p>


    <p>Metus habitasse quis cursus eu ut risus, sem laoreet sit tortor libero posuere lacinia, nostra justo placerat urna integer lacus vivamus interdum velit fusce class egestas diam dui volutpat, justo a non urna mauris bibendum elementum aliquam lacinia, pretium etiam mauris habitasse aliquet lacinia porta quisque elementum integer vivamus aenean magna tempus ac auctor viverra facilisis, tincidunt taciti himenaeos aliquam pellentesque facilisis himenaeos in, faucibus elit suspendisse metus consectetur ut sollicitudin platea.</p>

  </div> -->

  <button aria-expanded="false" aria-controls="more-1" class="toggle-content" hidden><span class="text">Show More</span><span class="visually-hidden">about First article</span></button>

  </article>



    <!--   <h3>Itinerary:</h3>
    <p>TODO => demo.description</p>
    -->
  </div>


  <% if policy(@demo).edit? %>
    <td><%= link_to "Edit", edit_demo_path(@demo) %></td>
  <% end %>

</div>
<%= render 'shared/footer' %>
