<div class="footer">


  <div class="navbar navbar-light navbar-lewagon">
    <div id="toggler-box-strip" class="toggler_box">
      <div>
        <button id="button-toggler" class="navbar-toggler button-trans" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify text-body"></i>
        </button>
      </div>
      <div>
        <%= link_to demo_events_path(@demo) do %>
          <%= image_tag "world-navbar.svg", alt: "Demonstration" %>
        <% end %>
      </div>
      <div>
        <%= link_to demo_comments_path(@demo) do %>
          <%= image_tag "chat-navbar.svg", alt: "Demonstration" %>
        <% end %>
      </div>
    </div>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Demo Calender", demos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Demo Details", demo_path(@demo), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Map View", demo_events_path(@demo), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Chatter", demo_comments_path(@demo), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tips & Tricks", tips_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Organizers", organizers_path, class: "nav-link" %>
          </li>
<!--           <li class="nav-item">
            <%#= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
 -->          <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
          </li>
          <li class="nav-item">
          </li>
        <li><br></li>
        <li><br></li>
      </ul>
    </div>
  </div>
</div>






