<div class="footer">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div id="toggler-box-strip" class="toggler_box">
    <button id="button-toggler" class="navbar-toggler button-trans" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-align-justify text-body"></span>
    </button>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Demo Calender", demos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tips & Tricks", tips_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Organizers", organizers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <li><br></li>
        <li><br></li>
      </ul>
    </div>
  </div>
</div>

