<div id="mySidenav" class="sidenav" style="width: 0px;">
  <ul class="navbar-list">
    <li>
      <%= link_to "Calender", demos_path, class: "nav-link" %>
    </li>
    <li>&nbsp;</li>
    <li>
      <%= link_to "Demo Info", demo_path(@demo), class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Map View", demo_events_path(@demo), class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Chatter", demo_comments_path(@demo), class: "nav-link" %>
    </li>
    <li>
    <li>&nbsp;</li>
      <%= link_to "Tips & Tricks", tips_path, class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Organizers", organizers_path, class: "nav-link" %>
    </li>
    <!-- <li><%#= link_to "Contact", contact_path, class: "nav-link" %></li> -->
    <li>&nbsp;</li>
    <li>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
    </li>
  </ul>
</div>


<div class="footer">
  <div class="navbar navbar-light">
    <div class="toggler-box">
      <div>
        <button id="openNav" class="btn-nav">
          <i class="fas fa-align-justify text-body"></i>
        </button>
      </div>
      <div>
        <%= link_to demo_events_path(@demo) do %>
          <%= image_tag "world-navbar.svg", alt: "Demonstration" %>
        <% end %>
      </div>
      <div>
        <%= link_to demo_comments_path(@demo) do %>
          <%= image_tag "chat-navbar.svg", alt: "Demonstration" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
