<%= link_to demo_event_path(demo, event) do %>
  <div class="card-popup">
    <div class="card-popup-header">
       <%= image_tag event.event_type.icon%>
       <p><%= event.event_type.name%></p>
    </div>
    <div class="card-popup-content">
      <p><%= event.description %></p>
    </div>
    <div class="card-popup-footer">
      <div class="card-popup-footer-comments">
        <i class="far fa-comment"></i>
        <p>23</p>
      </div>
      <div class="card-popup-footer-location">
        <i class="fas fa-map-marker-alt"></i>
        <p><%= event.location %></p>
      </div>
    </div>
  </div>
<% end %>


