<div class = "tab-box">
    <div class="banner-events-index" id="header_event" style="display: none">
      <div class="banner-events-content">
        <h1>Test</h1>
      </div>
    </div>
    <div id= "navigation">
      <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active"  id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="true">map view</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" id="pills-event-tab" data-toggle="pill" href="#pills-event" role="tab" aria-controls="pills-event" aria-selected="false">list view</a>
        </li>
      </ul>
    </div>
</div>


<div class="container-fluid">
  <div class="row text-align">
    <div class="col-12">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
          <div
            id="map"
            style="width: 100%;
            height: 100vh;"
            data-markers="<%= @markers.to_json %>"
            data-mappoints="<%= @mappoints.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
        <div class="tab-pane fade" id="pills-event" role="tabpanel" aria-labelledby="pills-event-tab">
            <% @events.order(start_time: :asc).each do |event| %>
              <%= link_to demo_event_path(@demo, event) do %>
                <div class="card-event">
                  <div class="card-event-icon"><%= image_tag event.event_type.icon %></div>
                  <div class="card-event-content">
                    <p><%= event.description %></p>
                    <div class="card-event-footer">
                      <div class="card-event-footer-location">
                        <p> <i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
                      </div>
                      <div class="card-event-footer-comments">
                        <p><i class="far fa-comment"></i> <%= event.comments.length%></p>
                      </div>
                    </div>
                  </div>
               </div>
              <% end %>
            <% end %>
          </div>
       </div>
       <% if current_user == @demo.user %>
          <div class="btn-plus">
            <%= link_to new_demo_event_path(@demo) do %>
              <%= image_tag "plus.svg", size: "25x25", alt: "add" %>
            <% end %>
          </div>
        <% end %>
     </div>
   </div>
 </div>
<%= render 'shared/footer' %>

