<div class="tab-box">
  <%= render 'shared/banner', header: "#{@event.event_type.name}" %>
  <div id="navigation">
    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-newest-tab" data-toggle="pill" href="#pills-newest" role="tab" aria-controls="pills-newest" aria-selected="true">Newest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-loudest-tab" data-toggle="pill" href="#pills-loudest" role="tab" aria-controls="pills-loudest" aria-selected="false">Loudest</a>
      </li>
    </ul>
  </div>
</div>

<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">

      <div class="tab-content" id="pills-tabContent">

        <!-- edit and destroy buttons for event owner -->
        <% if policy(@event).destroy? %>
          <div class="event-edit">
            <div class="btn-event">
              <%= link_to edit_demo_event_path(@demo, @event) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </div>

            <div class="btn-event">
              <%= link_to demo_event_path(@demo, @event), method: :delete,  data: { confirm: "Are you sure you want to delete this event and all corresponding comments?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- event description -->
        <div class="card-comment">
          <div class="card-comment-infos">
            <div class="card-comment-infos-content">

              <div class="card-comment-infos-content-description">
                <%= image_tag "#{@event.event_type.icon}", alt: "Demonstration", width: "50px;" %>
                <%= @event.description %>
              </div>
              <div class="card-comment-infos-content-footer">
              <p><%= @event.start_time.strftime("%l:%M %p") unless @event.start_time.nil? %>
                &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>
                <%= @event.location.gsub(/,.*/,'') %>&nbsp;&nbsp;
                <%= @event.event_type.name%></p>
              </div>
            </div>
          </div>
        </div>

    <!-- 1 Tab : Newest -->
        <div class="tab-pane fade show active" id="pills-newest" role="tabpanel" aria-labelledby="pills-newest-tab">

          <%= render partial:'/shared/event_comments', locals: {comments: @comments, event: @event}%>
        </div>

    <!-- 2 Tab : Loudest -->
        <div class="tab-pane fade" id="pills-loudest" role="tabpanel" aria-labelledby="pills-loudest-tab">
          <%= render partial:'/shared/event_comments', locals: {comments: @votes_comments, event: @event}%>
        </div>

<!-- Footer -->
    <div class="btn-plus">
      <%= link_to new_demo_event_comment_path(@demo, @event) do %>
        <%= image_tag "plus.svg", size: "25x25", alt: "add" %>
      <% end %>
    </div>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>

