<%= render 'shared/banner', header: 'Contact us' %>
<div class="container justfiy-content-center">
  <div class="row text-align">
    <div class="col-12">
      <p>
        For inquiries, praise and criticism, as well as suggestions for improvement please send us a message. We will get back to you as soon as possible.
      </p>
      <br>
      <%= simple_form_for :contact, :url => contact_path do |f| %>
        <%= f.input :name%>
        <%= f.input :email_address, as: :email, hint: 'We will reply to you using this email.' %>
        <%= f.input :message, as: :text %>
        <%= f.button :submit, 'Send', class: "new-comment-submit btn-light" %>
      <% end %>

    </div>
  </div>
</div>
<%= render 'shared/footer_general' %>

