<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations.">
    <meta property="og:title" content="DemoMap | Know Where to March" />
    <meta property="og:description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations." />
    <meta property="og:image" content='<%= image_url 'banner_demo.jpg' %>'/>
    <meta property="og:image:width" content='1200'/>
    <meta property="og:image:height" content='630'/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations." />
    <meta name="twitter:text:title" content="DemoMap | Know Where to March" />
    <meta name="twitter:image" content="<%= image_url 'banner_demo.jpg' %>" />

    <!-- Splash screen configuration for iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <%= favicon_link_tag asset_path('red-icon-demo-map.svg') %>
    <title>DemoMap | Real-time Info for your Demo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>

    <%#= render 'shared/banner' unless current_page?(:root) %>
    <%= render 'shared/flashes' unless current_page?(:root) %>
    <%= yield %>
    <%#= render 'shared/footer' unless current_page?(:root) %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>

  </body>
</html>
