<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations.">
    <meta property="og:title" content="DemoMap | Know Where to March" />
    <meta property="og:description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations." />
    <meta property="og:image" content='<%= image_url 'banner_demo.jpg' %>'/>
    <meta property="og:image:width" content='1200'/>
    <meta property="og:image:height" content='630'/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations." />
    <meta name="twitter:text:title" content="DemoMap | Know Where to March" />
    <meta name="twitter:image" content="<%= image_url 'banner_demo.jpg' %>" />

    <!-- Splash screen configuration for iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-startup-image" href="/red-icon-demo-map.svg">
    <link href="splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <%= favicon_link_tag asset_path('favicon.svg') %>
    <title>DemoMap | Real-time Info for your Demo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>

    <%#= render 'shared/banner' unless current_page?(:root) %>
    <%= render 'shared/flashes' unless current_page?(:root) %>
    <%= yield %>
    <%#= render 'shared/footer' unless current_page?(:root) %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>

  </body>
</html>
